In [1]:
# this program uses machine learning Decision Tree to predict if 
# the price of a stock will increase or decrease

In [2]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
import pandas as pd
import pandas_datareader as web

In [3]:
# load the data
df = web.DataReader('AMZN', 
                    data_source='yahoo', 
                    start='2020-01-01', 
                    end='2020-10-17')

df

                   High          Low  ...   Volume    Adj Close
Date                                  ...
2020-01-02  1898.010010  1864.150024  ...  4029000  1898.010010
2020-01-03  1886.199951  1864.500000  ...  3764400  1874.969971
2020-01-06  1903.689941  1860.000000  ...  4061800  1902.880005
2020-01-07  1913.890015  1892.040039  ...  4044900  1906.859985
2020-01-08  1911.000000  1886.439941  ...  3508000  1891.969971
...                 ...          ...  ...      ...          ...
2020-10-12  3496.239990  3339.550049  ...  8364200  3442.929932
2020-10-13  3492.379883  3424.219971  ...  5744700  3443.629883
2020-10-14  3464.879883  3340.000000  ...  5828900  3363.709961
2020-10-15  3355.879883  3280.000000  ...  5223400  3338.649902
2020-10-16  3399.659912  3160.000000  ...  6474400  3272.709961

[201 rows x 6 columns]

In [4]:
# create the target column
# if tomorrow close price is greater than today close price write 1, otherwise 0
df['Price up'] = np.where(df['Close'].shift(-1) > df['Close'], 1, 0)
df

                   High          Low  ...    Adj Close  Price up
Date                                  ...
2020-01-02  1898.010010  1864.150024  ...  1898.010010         0
2020-01-03  1886.199951  1864.500000  ...  1874.969971         1
2020-01-06  1903.689941  1860.000000  ...  1902.880005         1
2020-01-07  1913.890015  1892.040039  ...  1906.859985         0
2020-01-08  1911.000000  1886.439941  ...  1891.969971         1
...                 ...          ...  ...          ...       ...
2020-10-12  3496.239990  3339.550049  ...  3442.929932         1
2020-10-13  3492.379883  3424.219971  ...  3443.629883         0
2020-10-14  3464.879883  3340.000000  ...  3363.709961         0
2020-10-15  3355.879883  3280.000000  ...  3338.649902         0
2020-10-16  3399.659912  3160.000000  ...  3272.709961         0

[201 rows x 7 columns]

In [5]:
# split the data into train and test
X = df.iloc[:, 0:df.shape[1]-1].values
Y = df.iloc[:, df.shape[1]-1].values
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [6]:
# create and train the model
tree = DecisionTreeClassifier().fit(X_train, Y_train) 

print(tree.score(X_test, Y_test))

0.6829268292682927

In [7]:
# show the model predictions
tree_predictions = tree.predict(X_test) 
print(tree_predictions)

[0 1 1 0 1 0 1 0 0 0 0 1 0 1 0 1 1 0 0 0 0 1 0 0 1 1 0 0 1 0 0 1 1 0 1 0 1
 0 1 0 1]

In [8]:
# show the actual values
print(Y_test)

[0 1 1 1 1 0 0 1 1 0 0 1 0 1 1 1 1 1 0 0 1 0 0 0 0 0 0 0 1 0 0 1 0 1 1 1 1
 0 1 0 1]